@model tobedeleted.Models.AssignSubjectGrade

@{
    ViewData["Title"] = "AssignSubGr";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<h4 class="justify-content-center">Assign Subjects To Grade</h4>
<hr />
<div class="row">
    <div class="col-6">
        <form asp-action="AssignSubGr">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label>Select Grade</label>
                    <select id="txtUserTeacher" asp-for="userTeacher" class="form-control">
                        <option selected disabled>--select grade--</option>
                        @foreach (ApplicationUser U in ViewBag.Users)
                        {
                            <option value="@U.Id">@U.firstName @U.lastName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Select Grade</label>
                <select id="txtGradeID" asp-for="GrID" asp-items="@ViewBag.Grades" class="form-control">
                    <option selected disabled>--select grade--</option>
                    @*@foreach (Grade U in ViewBag.Grades)
                        {
                            <option value="@U.GrID">@U.GrDesc</option>
                        }*@
                </select>
            </div>

            <div class="form-group">
                <label>Select Subject Name</label>
                <select id="txtSubID" asp-for="SubId" asp-items="@ViewBag.Subjects" class="form-control">
                    <option selected disabled>--select subject--</option>
                </select>
            </div>

            @*<div class="form-group">
                <label asp-for="DepId" class="control-label"> Select Department</label>
                <input asp-for="DepId" class="form-control" />
                <span asp-validation-for="DepId" class="text-danger"></span>
                </div>*@
            @*div class="row">
                    <div class="col-4">
                        <label>Department Name: </label>
                    </div>
                    <div class="dropdown">
                        <select id="txtDep" asp-for="DepID" class="form-control">

                            @foreach (Department D in ViewBag.Department)
                            {
                                <option value="@D.DepID">@D.DepDesc</option>
                            }
                        </select>
                    </div>
                </div**@
            <div>
                <input id="btnSave" type="submit" class="btn btn-outline-primary btn-block" value="Assign" />
                @*<button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:100%;"> Read</button>*@
            </div>
        </form>
    </div>
    <div class="col-6">
        <form method="post" asp-controller="HOD" asp-action="GetAssignedSubGr">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Grade
                        </th>
                        <th>
                            Subject Name
                        </th>
                        <th />
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.TeacherGrade)
                    {
                    <tr>
                        
                        <td>
                            @item.GrID
                        </td>
                        <td>
                            @item.SubID
                        </td>
                        <td>
                            @item.userTeacher
                        </td>
                        <td>
                            <a asp-action="UpdateDepartment" asp-route-id="@item.SubGrID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SubGrID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SubGrID">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(function () { });
    //$("#txtFile").change(function (event) {
    //    var files = event.target.files;
    //    $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    //});
    $("#btnSave").click(function () {
        //var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubGr = {
            GrID: $("#txtGradeID").val(),
            SubID: $("#txtSubID").val(),
            userTeacher: $("#txtUserTeacher").val()

        };
        formData.append("AssignSubjectGrade", JSON.stringify(oSubGr));
        $.ajax({
            type: "POST",
            url: "/HOD/AssignSubGr",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oSubGr = {
            GrID: $("#txtGradeID").val(),
            SubID: $("#txtSubID").val(),
            userTeacher: $("#txtUserTeacher").val()

        };
        formData.append("AssignSubjectGrade", JSON.stringify(oSubGr));
        $.ajax({
            type: "GET",
            url: "/HOD/AssignSubGr",
            success: function (data) {
                $("#txtGradeID").val(data.GrID);
                $("txtSubID").val(data.SubID);
                $("#txtUserTeacher").val(data.userTeacher);
                /*$('#imgViewer').attr('src', "data:image/jpg;base64," + data.Photo + "");*/
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("txtDep").val("");
        $("#txtUserTeacher").val("");
        //$("#imgViewer").attr("src", "");
    }
</script>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
