@model tobedeleted.Models.Department

@{
    ViewData["Title"] = "Department";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>EnrolDepartment</h1>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="row col-12">
                <div class="col-4">
                    <label>Department Name: </label>
                </div>
                <div class="col-6">
                    <input id="txtName" type="text" placeholder="Department Name"  autocomplete="off" style="width:100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-4">
                    <label>Photo :</label>
                </div>
                <div class="col-6">
                    <input id="txtFile" type="file" value="Upload File" style="width: 100%;" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-6">
                    <img id="imgViewer" width="400" height="400" style="border: 1px solid #ffffff" />
                </div>
                
            </div>
            <div class="row">
                <div class="col-6">
                    <button id="btnSave" class="btn btn-primary" style="width:100%;margin-top:2px;">Save Department</button>
                </div>
                <div class="col-6">
                    <button id="btnRead" class="btn btn-primary" style="width:100%;margin-top:2px;">Read Department</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <form method="post" asp-controller="HOD" asp-action="GetSavedDepartment">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Department ID
                            </th>
                            <th>
                                Department Name

                            </th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Department)
                        {
                        <tr>
                            <td>
                                @item.DepID
                            </td>
                            <td>
                                @item.DepDesc
                            </td>
                            <td>
                                <a asp-action="UpdateDepartment" asp-route-id="@item.DepID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.DepID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.DepID">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { });
    $("#txtFile").change(function (event) {
        var files = event.target.files;
        $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
    });
    $("#btnSave").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        
        var oDepartment = {
            DepDesc: $("#txtName").val()
        };
        //var isSuccess = false;
        //$.each($("#txtName"),
        //    function (data) {
        //        DepNames = $(this).find("#txtName").val();
        //        if (DepNames === $("#txtName").val()) {
        //            $("#txtName").focus();
        //            $("#txtName").val("");
        //            alert($("#txtName").val(data.DepDesc) + " already exists!");
        //            isSuccess = true;
        //        }
        //        //else {
                    
        //        //}
        //    }
        //);
        //if (isSuccess === true) {
        //    return false;
        //}
        formData.append("Department", JSON.stringify(oDepartment));
        $.ajax({
            type: "POST",
            url: "/HOD/SaveFile",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                ResetFields();
                alert(data);
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnRead").click(function () {
        var files = $("#txtFile").prop("files");
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        var oDepartment = {
            DepDesc: $("#txtName").val()
        }
        formData.append("Department", JSON.stringify(oDepartment));
        $.ajax({
            type: "GET",
            url: "/HOD/GetSavedDepartment",
            success: function (data) {
                $("#txtName").val(data.DepDesc);
                $("#imgViewer").attr("src", "data:image/jpg;base64," + data.Photo + "");
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    function ResetFields() {
        $("#txtName").val("");
        $("#imgViewer").attr("src", "");
    }
</script>