@model IEnumerable<tobedeleted.Models.Grade>

@{
    ViewData["Title"] = "GetGrade";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Grades Enrolled</h1>

<p>
    <a asp-action="Grade">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrDesc)
            </td>
            <td>
                <a asp-action="UpdateGrade" asp-route-id="@item.GrID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
