@model IEnumerable<tobedeleted.Models.Subject>

@{
    ViewData["Title"] = "GetSubject";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>Get Subject</h1>

<p>
    <a asp-controller="HOD" asp-action="Subject">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubDesc)
                </td>
                <td>
                    <a asp-controller="HOD" asp-action="UpdateSubject" asp-route-id="@item.SubID">Edit</a> |
                    <a asp-controller="HOD" asp-action="Maths" asp-route-id="@item.SubID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        
        <input type="submit" class="btn btn-primary" value="Back" formaction="@Url.Action("Dashboard", "HOD")" />

    }
    <button onclick="window.print()">Print this page</button>
</div>

