@model IEnumerable<tobedeleted.Models.Subject>

@{
    ViewData["Title"] = "ListSubject";
    Layout = "~/Pages/_LayoutHOD.cshtml";
}

<h1>ListSubject</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubDesc)
            </td>
            <td>
                <a asp-action="UpdateSubject" asp-route-id="@item.SubID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
