@model tobedeleted.Models.Category
@{ ViewBag.Title = "Quiz";

}
<script src="C:\Users\s221509836\Documents\Quiz2\tobedeleted\script\jquery-1.10.2.min.js"></script> 
<script type="text/javascript">
    $(document).raedy(function () {
        $("#btnAddOption").click(function () {
            AddOptionIntoList();
        });
    });

    function AddOptionIntoList() {
        if ($("#txtQuestionName").val() === "") {
            alert("Question name should not be empty.");
            $("#txtQuestionName").focus();
            return false;
        }

        if ($("#txtOptionName").val() === "") {
            alert("Option name should not be empty.");
            $("#txtOptionName").focus();
            return false;
        }

        if ($("#tblOption tr").length === 5) {
            $("#txtOptionName").focus();
            $("#txtOptionName").val("");
            alert("Option  should not be more than 5.");
            return false;
        }

        var isSuccess = false;
        $.each($("#tblOption tr"),
            function () {
                var listedValue = $(this).find("td:eq(0) input[type=radio]").val();
                if (listedValue === $("#txtOptionName").val()) {
                    $("#txtOptionName").focus();
                    $("#txtOptionName").val("");
                    alert("It's already listed listed");
                    isSuccess = true;
                }
            });

        if (isSuccess === true) {
            return false;
        }

        var OptionName = $("#txtOptionName").val();
        var rowAdded = "<tr><td> <input type='radio' value= " +
            OptionName +
            " name='OptionName'/> " +
            OptionName +
            " </td></tr> ";

        $("#tblOption").append(rowAdded);
        $("#txtOptionName").focus();
        $("#txtOptionName").val('');


    }
</script>



@using (Html.BeginForm(actionName: "Quiz", controllerName: "Teacher", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(expression: model => model.QuestionName)
            @Html.TextAreaFor(expression: model => model.QuestionName, new { @class = "form-control", @id = "txtQuestionName" })

        </div>
        <div class="form-group">
            @Html.LabelFor(expression: model => model.OptionName)
            @Html.TextAreaFor(expression: model => model.OptionName, new { @class = "form-control", @id = "txOptionName" })
        </div>
        <div class="form-group">
            <input id="btnAddOption" type="button" class="btn btn-primary" name="Option" value="Add option" />
        </div>
    </div>


}

<table id="tbloption" class="table table-condensed" style="width: 100%">
</table>
























@*@{
        ViewData["Title"] = "DashBoards";
        Layout = "~/Pages/_LayoutTeacher.cshtml";
    }


    <!DOCTYPE html>
    <html>
    <body>

        <h3 style="text-align:left;">Add Quizz</h3>

        <form action="/action_page.php">
            <fieldset>
                <legend>Personalia:</legend>
                <label for="lname">Enter quizz name:</label><br>
                <input type="text" id="type" name="type" value="" placeholder="eg. Chapter 2 unit 1"><br><br>
                <div>
                    <h4 style="text-align:left;">Instructions </h4>
                    <textarea name="message" rows="10" cols="100"> </textarea>
                </div>


            </fieldset>
        </form>
        <br />
        <h4>Questions</h4>
        <div class="container p-5 my-5 border">
            <div class="container mt-3">
                <div class="card bg-light text-dark">
                    <form action="/action_page.php">
                        <label for="lname">Question 1: (Type your question and answer options below and click the correct answer)</label><br>
                        <input type="text" id="type" name="type" value="" placeholder="type question here.." col="100"><br><br>
                        <label for="lname">(Type your answer options below and click the correct answer)</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100">
                        </div>
                    </form>

                </div>
                <br>
                <div class="card bg-light text-dark">
                    <form action="/action_page.php">
                        <label for="lname">Question 2: (Type your question and answer options below and click the correct answer)</label><br>
                        <input type="text" id="type" name="type" value="" placeholder="type question here.." col="100"><br><br>
                        <label for="lname">(Type your answer options below and click the correct answer)</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100"><br />
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <input type="text" id="type" name="type" value="" placeholder="" col="100">
                        </div>
                    </form>
                </div>
                <br>
                <form action="/action_page.php">
                    <p for="lname">Choose below due date and time for the quizz </p>
                    <label for="Duedate">Due date (date and time):</label>
                    <input type="datetime-local" id="Duedate" name="Duedate">

                </form>
            </div>

        </div>


                <div>
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-primary" value="submit" formaction="@Url.Action("Assessments", "Teacher")" />
                        <input type="submit" class="btn btn-primary" value="Back" formaction="@Url.Action("Assessments", "Teacher")" />}
                </div>


    </body>
    </html>*@



