@*@model IEnumerable<tobedeleted.Models.Announcements>*@
@{
    Layout = "~/Pages/_LayoutTeacher.cshtml";
    //ViewData["Title"] = "ViewAnnouncements";
}

<br />
<br />
<br />
<br />

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="fw-light" style="text-align:center;">Latest news and announcements</h3>
        <hr />
    </div>
</div>

<div class="container">
    <div class="container mt-3">
        <div class="card bg-light text-dark">
            <div class="card-body">1 learner enrolled.</div>
        </div>
        <br>
    </div>

    <h3>You are viewing teacher's home page</h3>

    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AnnouncementName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnnouncementDescr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnnounceDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnnouncementName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnnouncementDescr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnnounceDate)
                        </td>
                        <td>
                            <a asp-action="EditAnnouncements" asp-route-id="@item.AnnounceID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AnnounceID">Details</a> |
                            <a asp-action="DeleteAnnouncements" asp-route-id="@item.AnnounceID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@




    <br />
    <img src="~/css/Images/online-teacher.jpg" class="card-img-top" height="700" alt="...">
</div>


