@model IEnumerable<tobedeleted.Models.StuMark>
@using Microsoft.AspNetCore.Identity
@using tobedeleted.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Results";
    Layout = "~/Pages/_LayoutLearner.cshtml";
}

<!DOCTYPE html>
<br />
<br />
<h4>Subject results</h4>
<hr />
<br />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inn_TuneProject</title>

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>

    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    Mathematics
                </a>
            </div>
            <div id="collapseOne" class="collapse " data-bs-parent="#accordion">
                <div class="card-body">
                    @foreach (var model in Model)
                    {
                        <a>TM:   @Html.DisplayFor(modelItem => model.Term1)</a>
                    }
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    life Sciences
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    @foreach (var model in Model)
                    {
                        <a>TM:   @Html.DisplayFor(modelItem => model.Term2)</a>
                    }
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    Physical sciences
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    @foreach (var model in Model)
                    {
                        <a>TM:   @Html.DisplayFor(modelItem => model.Term3)</a>
                    }
                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                    Geography
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    @foreach (var model in Model)
                    {
                        <a>TM:   @Html.DisplayFor(modelItem => model.Term4)</a>
                    }
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                    Agricultural Sciences
                </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    @foreach (var model in Model)
                    {
                        <a>Not Available</a>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
