@model IEnumerable<tobedeleted.Models.StuMark>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
}

<br/>
<br />
<br/>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LearnerIdUser)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AssignmentID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearnerIdUser)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AssignmentID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MarkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MarkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MarkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Teacher" asp-action="Assessments" a>Back to List</a>
</div>
