@model IEnumerable<tobedeleted.Entities.Content>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_LayoutTeacher.cshtml";
    ViewData["Title"] = "Real-Time Binding";
}

<br />
<br />
<br />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTMLContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HTMLContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoLink)
                </td>
                <td>
                    <a asp-controller="Content" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
